// App Download 
.app-download-wrapper
    .container
        .row.align-items-center.justify-content-center.g-4.g-lg-5
            .col-12.col-lg-6
                .download-text.text-center.text-lg-start
                    h2.mb-3(data-aos="fade-up", data-aos-duration="750", data-aos-delay="200") Stay connected <br> to all your devices.
                    p.mb-5(data-aos="fade-up", data-aos-duration="750", data-aos-delay="300") Download our mobile apps today.

                    .row.align-items-center.justify-content-center.justify-content-lg-start.g-5
                        .col-5.border-end
                            .qr-code-wrapper(data-aos="fade-up", data-aos-duration="750", data-aos-delay="500")
                                img.p-3.bg-white.shadow.rounded.border.w-100(src="img/core-img/qr-code.svg", alt="")

                        .col-5
                            .app-btn-groups.text-start
                                button.btn.p-0.mb-4.w-100(type="button", data-aos="fade-up", data-aos-duration="750", data-aos-delay="700")
                                    img(src="img/core-img/google-play.png", alt="")                                
                                button.btn.p-0.w-100(type="button", data-aos="fade-up", data-aos-duration="750", data-aos-delay="800")
                                    img(src="img/core-img/app-store.png", alt="")

            .col-12.col-sm-8.col-lg-6
                .download-img
                    img(src="img/illustrator/2.png", alt="")