.collection-wrapper
    .container
        .row
            .col-7
                .section-heading
                    h2.mb-0.ms-3 Browse by category

            .col-5.text-end
                a.btn.rounded-pill.btn-outline-primary.btn-sm.border-2(href="collections.html") View all catagories

    .container
        .row.g-4.justify-content-center
            // Catagory Card 
            .col-12.col-md-10.col-lg-4
                .catagory-card.card.shadow-sm
                    .card-body
                        .row.g-1
                            .col-6
                                img.rounded(src="img/bg-img/39.jpg", alt="")
                                img.rounded(src="img/bg-img/38.jpg", alt="")
                            .col-6
                                img.rounded(src="img/bg-img/6.jpg", alt="")
                                img.rounded(src="img/bg-img/10.jpg", alt="")

                        .row.mt-3
                            .col-8
                                h5.mb-0 Arts
                                    span.badge.bg-primary.ms-2 206
                            .col-4.text-end
                                a.btn.btn-minimal.hover-primary(href="explore-1.html")
                                    | View all
                                    i.ms-1.fz-14.bi.bi-arrow-right

            // Catagory Card 
            .col-12.col-md-10.col-lg-4
                .catagory-card.card.shadow-sm
                    .card-body
                        .row.g-1
                            .col-6
                                img.rounded(src="img/bg-img/35.jpg", alt="")
                                img.rounded(src="img/bg-img/34.jpg", alt="")
                            .col-6
                                img.rounded(src="img/bg-img/25.jpg", alt="")
                                img.rounded(src="img/bg-img/27.jpg", alt="")

                        .row.mt-3
                            .col-8
                                h5.mb-0 Photos
                                    span.badge.bg-primary.ms-2 973
                            .col-4.text-end
                                a.btn.btn-minimal.hover-primary(href="explore-1.html")
                                    | View all
                                    i.ms-1.fz-14.bi.bi-arrow-right

            // Catagory Card 
            .col-12.col-md-10.col-lg-4
                .catagory-card.card.shadow-sm
                    .card-body
                        .row.g-1
                            .col-6
                                img.rounded(src="img/bg-img/18.jpg", alt="")
                                img.rounded(src="img/bg-img/20.jpg", alt="")
                            .col-6
                                img.rounded(src="img/bg-img/37.jpg", alt="")
                                img.rounded(src="img/bg-img/36.jpg", alt="")

                        .row.mt-3
                            .col-8
                                h5.mb-0 Collectibles
                                    span.badge.bg-primary.ms-2 1098
                            .col-4.text-end
                                a.btn.btn-minimal.hover-primary(href="explore-1.html")
                                    | View all
                                    i.ms-1.fz-14.bi.bi-arrow-right