// Dark Light Wrapper 
.dark-light-wrapper(data-aos="zoom-in", data-aos-duration="750", data-aos-delay="200")
    .container
        .d-flex.align-items-center.justify-content-between
            h5.mb-0.text-white(data-aos="fade-up", data-aos-duration="750", data-aos-delay="500") Light mode is available!
            // Switch 
            .dark-light-mode(data-aos="fade-up", data-aos-duration="750", data-aos-delay="800")
                input#darkLightSwitch(type="checkbox")
                label.shadow(for="darkLightSwitch") Toggle