// Footer 
footer.footer-area.pb-120.pt-120(style="background-image: url('img/bg-img/1.jpg')")
    img.footer-bg-shape(src="img/core-img/shape1.png", alt="", data-aos="fade-up", data-aos-duration="500", data-aos-delay="200")

    .container
        .row
            // Footer Widget 
            .col-12.col-lg-5
                .footer-widget-area.mb-70.pe-lg-4.pe-xl-5.me-lg-4.me-xl-5.border-end
                    a.d-block.mb-4(href="index.html")
                        img.light-logo(src="img/core-img/logo.png" alt="")
                        img.dark-logo(src="img/core-img/logo-white.png" alt="")
                    p It's crafted with the latest trend of design &amp; coded with all modern approaches.
                    p.mb-0 Call: +123 456 789 <br> Email: help@example.com

                    // Social Icon 
                    h5.mt-4.mb-3 Join the community

                    .footer-social-icon.d-flex.align-items-center.flex-wrap
                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facbook")
                            img(src="img/core-img/icons8-facebook.svg", alt="")

                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter")
                            img(src="img/core-img/icons8-twitter.svg", alt="")

                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram")
                            img(src="img/core-img/icons8-instagram.svg", alt="")

                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Slack")
                            img(src="img/core-img/icons8-slack.svg", alt="")

                        a(href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube")
                            img(src="img/core-img/icons8-player.svg", alt="")

                    // Newsletter Form 
                    .newsletter-form.mt-5.me-5
                        form.d-flex.align-items-stretch(action="#")
                            input.form-control(type="email" placeholder="Enter email")
                            button.btn.btn-warning.px-3(type="submit") Subscribe

            // Footer Widget 
            .col-12.col-lg-7
                .row.g-4
                    .col-6.col-sm-4
                        .footer-widget-area.mb-70
                            h5.mb-4 Explore

                            ul.list-unstyled.mb-0
                                li
                                    a(href="featured-items.html") Featured Drops
                                li
                                    a(href="live-bidding.html") Live Auctions
                                li
                                    a(href="collections.html") Collections
                                li
                                    a(href="top-seller.html") Top Seller
                                li
                                    a(href="top-buyer.html") Top Buyer
                                li
                                    a(href="item-details.html") Item Details

                    .col-6.col-sm-4
                        .footer-widget-area.mb-70
                            h5.mb-4 Marketplace

                            ul.list-unstyled.mb-0
                                li
                                    a(href="#") Art
                                li
                                    a(href="#") Cards
                                li
                                    a(href="#") Collectibles
                                li
                                    a(href="#") Domain
                                li
                                    a(href="#") Photos
                                li
                                    a(href="#") Sports
                                li
                                    a(href="#") Videos

                    .col-6.col-sm-4
                        .footer-widget-area.mb-70
                            h5.mb-4 Company

                            ul.list-unstyled.mb-0
                                li
                                    a(href="#") Forum
                                li
                                    a(href="#") Licences
                                li
                                    a(href="#") Careers
                                li
                                    a(href="#") Conditions
                                li
                                    a(href="#") Privacy

    .container
        .copywrite-wrapper.d-lg-flex.align-items-lg-center.justify-content-lg-between
            // Copywrite Text 
            .copywrite-text.text-center.text-lg-start.mb-3.mb-lg-0
                p.mb-0
                    span#copywriteYear
                    |  &copy; All rights reserved by 
                    a(href="https://themeforest.net/user/designing-world/portfolio", target="_blank", rel="noreferrer") Designing World

            // Footer Nav 
            .footer-nav
                ul.mb-0.d-flex.flex-wrap.justify-content-center.list-unstyled
                    li
                        a(href="privacy.html") Privacy Policy
                    li
                        a(href="terms.html") Terms &amp; Conditions

// Scroll To Top 
#scrollTopButton
    i.bi.bi-arrow-up-short