.welcome-area.pt-120
    .container
        .row.justify-content-center
            .col-12.col-md-10.col-xl-8
                .welcome-content.text-center
                    h2(data-aos="fade-up", data-aos-duration="750", data-aos-delay="300") Digital arts are trends now. Welcome to the world of NFTs.
                    p.mb-4(data-aos="fade-up", data-aos-duration="750", data-aos-delay="500") It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
                    a.btn.btn-primary.rounded-pill(href="collections.html", data-aos="fade-up", data-aos-duration="750", data-aos-delay="800")
                        i.me-2.bi.bi-grid-3x3-gap
                        | View All Collections