// Welcome Wrapper  
.welcome-area.pt-120
    .container
        .row.align-items-center
            // Welcome Content 
            .col-12.col-sm-10.col-md-6
                .welcome-content.mb-5.mb-md-0
                    h2(data-aos="fade-up", data-aos-duration="750", data-aos-delay="500") Explore, buy, and sell exceptional NFTs.
                    p.mb-4(data-aos="fade-up", data-aos-duration="750", data-aos-delay="800") It's crafted with the latest trend of design &amp; coded with all modern approaches.
                    .hero-btn-group(data-aos="fade-up", data-aos-duration="750", data-aos-delay="1200")
                        a.btn.btn-primary.rounded-pill.mt-3.me-3(href="explore-1.html")
                            | Explore Now
                            i.ms-2.bi.bi-arrow-right
                        a.btn.btn-minimal.hover-primary.mt-3(href="collections.html")
                            i.me-2.bi.bi-grid-3x3-gap
                            | All Collections

            // Welcome Thumb 
            .col-12.col-sm-9.col-md-6
                .welcome-thumb(data-aos="fade-up", data-aos-duration="750", data-aos-delay="500")
                    img(src="img/illustrator/2.png", alt="")