// Create New Button 
.create-new-button
    a.shadow-lg.btn.btn-warning(href="create-new.html", data-bs-toggle="tooltip", data-bs-placement="left", title="Create New NFT")
        i.fz-18.bi.bi-plus-lg

.admin-wrapper
    .container
        .row.g-4.justify-content-center
            .col-12.col-lg-10
                ul.nav.nav-tabs.border-0.mb-3(role="tablist")
                    li.nav-item
                        a#tab--1.position-relative.nav-link.mb-0.rounded-pill.px-3.py-1.border-0.shadow-sm.me-1.active(data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true") Today
                            span.badge.bg-danger.rounded-pill.position-absolute.top-0.left-100.translate-middle 3
                    li.nav-item
                        a#tab--2.nav-link.mb-0.rounded-pill.px-3.py-1.border-0.shadow-sm.me-1(data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false") 7 days
                    li.nav-item
                        a#tab--3.nav-link.mb-0.rounded-pill.px-3.py-1.border-0.shadow-sm.me-1(data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false") All

                .tab-content
                    // Tab Pane
                    #tab1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="tab--1")
                        .notification-content-wrap
                            ul.notification-list.ps-0.mb-0
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                        span.badge.bg-dark.fz-12.rounded-pill.ms-auto New
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                        span.badge.bg-dark.fz-12.rounded-pill.ms-auto New
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                        span.badge.bg-dark.fz-12.rounded-pill.ms-auto New
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.

                    // Tab Pane
                    #tab2.tab-pane.fade(role="tabpanel" aria-labelledby="tab--2")
                        .notification-content-wrap
                            ul.notification-list.ps-0.mb-0
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.

                    // Tab Pane
                    #tab3.tab-pane.fade(role="tabpanel" aria-labelledby="tab--3")
                        .notification-content-wrap
                            ul.notification-list.ps-0.mb-0
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.
                                li
                                    a(href="#")
                                        i.me-1.bi.bi-percent
                                        | You have an offer!
                                li
                                    a(href="#")
                                        i.bg-info.me-1.bi.bi-tags
                                        | Congratulations! You sale an item.
                                li
                                    a(href="#")
                                        i.bg-danger.me-1.bi.bi-gift
                                        | January freebies have arrived.
                                li
                                    a(href="#")
                                        i.bg-warning.me-1.bi.bi-star
                                        | A new rating has been received.