.popular-collection-wrapper
    .container
        .section-heading.position-relative.z-index-1000.d-flex.align-items-center.justify-content-center
            h2.mb-0 Popular items in last
            select.popular-collection-select#popularSelect
                option(selected, value="1") 1 day
                option(value="7") 7 days
                option(value="15") 15 days
                option(value="30") 1 month

    .container
        .row.g-4.justify-content-center
            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/25.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #1

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u1.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Trees Growing Seedlings") Trees Growing Seedlings
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.06 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/26.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #2

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u2.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Flower Crafts #24") Flower Crafts #24
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @nft_fun

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.01 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/27.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #3

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u3.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="NFT Text") NFT Text
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.06 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/28.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #4

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u4.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Norwegian Fjords Winter") Norwegian Fjords Winter
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.61 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/29.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #5

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u1.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Red Rose Flower Ilustration") Red Rose Flower Ilustration
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @creative_crafts

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.11 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/30.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #6

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u2.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Venice Canel") Venice Canel
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.1 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/31.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #7

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u3.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="VR Glasses Metaverse") VR Glasses Metaverse
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.1 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/32.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #8

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u4.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Wow Emoji") Wow Emoji
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @nft_fun

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 01 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

            // Single Card 
            .col-12.col-sm-10.col-md-6.col-xl-4
                .nft-card.card.shadow-sm
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/33.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #9

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u1.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Banana Pixel Art") Banana Pixel Art
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.border-info.rounded.py-1.px-2.text-info 0.06 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid