// Related Project  
.related-project-area
    .container
        .section-heading
            h2.mb-0 Related Projects

        // Slide 
        .related-project-slide
            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/13.jpg", alt="")

                            // Badge 
                            .badge.bg-primary.position-absolute
                                img(src="img/core-img/fire.png", alt="")
                                | Featured

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#dttd987(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dttd987")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 0.861 ETH
                            .col-4.text-end
                                button.wishlist-btn(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u1.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Monkey Arts #114") Monkey Arts #114
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @nft_fun
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 0.861 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity

            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/14.jpg", alt="")

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#ddwer211(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="ddwer211")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 2.961 ETH
                            .col-4.text-end
                                button.wishlist-btn(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u2.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Two Monkey's Fun") Two Monkey's Fun
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @creative_art
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 2.961 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity

            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/15.jpg", alt="")

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#ddgtf87(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="ddgtf87")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 0.06 ETH
                            .col-4.text-end
                                button.wishlist-btn.active(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u3.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Kings with Bitcoin") Kings with Bitcoin
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 0.06 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity

            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/16.jpg", alt="")

                            // Badge 
                            .badge.bg-dark.position-absolute
                                img(src="img/core-img/fire.png", alt="")
                                | New Bid

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#dd45ee(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dd45ee")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 0.01 ETH
                            .col-4.text-end
                                button.wishlist-btn.active(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u4.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Pixel Plane") Pixel Plane
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @nft_fun
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 0.01 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity

            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/13.jpg", alt="")

                            // Badge 
                            .badge.bg-primary.position-absolute
                                img(src="img/core-img/fire.png", alt="")
                                | Featured

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#dwwd987(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dwwd987")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 0.861 ETH
                            .col-4.text-end
                                button.wishlist-btn(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u1.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Monkey Arts #114") Monkey Arts #114
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @nft_fun
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 0.861 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity

            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/14.jpg", alt="")

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#uudsd211(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="uudsd211")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 2.961 ETH
                            .col-4.text-end
                                button.wishlist-btn(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u2.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Two Monkey's Fun") Two Monkey's Fun
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @creative_art
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 2.961 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity

            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/15.jpg", alt="")

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#ddddwf87(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="ddddwf87")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 0.06 ETH
                            .col-4.text-end
                                button.wishlist-btn.active(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u3.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Kings with Bitcoin") Kings with Bitcoin
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 0.06 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity

            div
                // Featured Card 
                .nft-card.card.shadow-sm
                    .card-body
                        .img-wrap
                            img(src="img/bg-img/16.jpg", alt="")

                            // Badge 
                            .badge.bg-dark.position-absolute
                                img(src="img/core-img/fire.png", alt="")
                                | New Bid

                            // Dropdown 
                            .dropdown
                                button.btn.dropdown-toggle.rounded-pill.shadow-sm#dd63ee(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    i.bi.bi-three-dots-vertical
                                // Dropdown Menu 
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dd63ee")
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-share
                                            | Share
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-flag
                                            | Report
                                    li
                                        a.dropdown-item(href="#")
                                            i.me-1.bi.bi-bookmark
                                            | Bookmark

                        // Others Info 
                        .row.gx-2.align-items-center.mt-3
                            .col-8
                                span.d-block.fz-12
                                    i.bi.bi-arrow-up
                                    | Hightest bid 0.01 ETH
                            .col-4.text-end
                                button.wishlist-btn.active(type="button")
                                    i.bi

                        // Meta Info 
                        .row.gx-2.align-items-center.mt-2
                            .col-8
                                .name-info.d-flex.align-items-center
                                    .author-img.position-relative
                                        img.shadow(src="img/bg-img/u4.jpg", alt="")
                                        i.bi.bi-check.position-absolute.bg-success
                                    .name-author
                                        a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Pixel Plane") Pixel Plane
                                        a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @nft_fun
                            .col-4
                                .price.text-end
                                    span.fz-12.d-block Current Bid
                                    h6.mb-0 0.01 ETH

                        // Button 
                        .row.gx-2.align-items-center.mt-3
                            .col-6
                                a.btn.btn-primary.btn-sm.rounded-pill(href="#") Place bid
                            .col-6.text-end
                                a.btn.btn-minimal.btn-sm.hover-primary(href="activity.html") 
                                    i.bi.bi-activity.me-1
                                    | Activity