// Client Feedback 
.client-feedback-wrap
    .container
        .row
            .col-12.col-sm-9.col-md-8.col-lg-7
                .section-heading
                    h2 Read some reviews from our beloved clients about our work.
    
    .container
        .client-feedback-content
            .client-feedback-slides
                // Single Feedback  
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u1.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold You've saved our business! Thanks guys, keep up the good work!
                
                // Single Feedback Slide 
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u2.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold I strongly recommend to everyone interested in running a business!

                // Single Feedback Slide 
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u3.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold Absolutely wonderful! I wish I would have thought of it first. Excellent product!

                // Single Feedback  
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u4.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold You've saved our business! Thanks guys, keep up the good work!
                
                // Single Feedback  
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u1.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold You've saved our business! Thanks guys, keep up the good work!
                
                // Single Feedback Slide 
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u2.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold I strongly recommend to everyone interested in running a business!

                // Single Feedback Slide 
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u3.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold Absolutely wonderful! I wish I would have thought of it first. Excellent product!

                // Single Feedback  
                div
                    .card.feedback-card.p-2
                        .card-body.p-4
                            .client-info.d-flex.align-items-center
                                .client-thumb.rounded-circle.me-1.position-relative
                                    img.rounded-circle(src="img/bg-img/u4.jpg" alt="")
                                .client-name
                                    h6.fz-16.mb-0 Designing World
                                    p.mb-0.fz-14 @designing_world
                            .ratings.text-warning.mt-4.mb-3.fz-14
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p.text-dark.mb-0.fw-bold You've saved our business! Thanks guys, keep up the good work!
                
                