// Top Seller Wrapper 
.top-seller-wrapper
    .container
        .row.g-4.g-lg-5.justify-content-center
            // Todays Drops 
            .col-12.col-sm-10.col-md-6.col-lg-5.col-xl-4
                .section-heading.text-center.mb-4
                    h4.mb-0 Today's Drops

                // Single Card 
                .nft-card.card.shadow-sm.mb-4
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/6.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #1

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u4.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Pixel Cartoon") Pixel Cartoon
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @designing_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.99 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

                // Single Card 
                .nft-card.card.shadow-sm.mb-4
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/7.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #2

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u1.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Funny Pigs #455") Funny Pigs #455
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @art_world

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.78 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

                // Single Card 
                .nft-card.card.shadow-sm.mb-4
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/8.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #3

                            .col-8
                                // Meta Info 
                                .meta-info
                                    .name-info.d-flex.align-items-center.mb-3
                                        .author-img.position-relative
                                            img.shadow(src="img/bg-img/u2.jpg", alt="")
                                            i.bi.bi-check.position-absolute.bg-success
                                        .name-author
                                            a.name.d-block.hover-primary.fw-bold.text-truncate(href="item-details.html", data-bs-toggle="tooltip", data-bs-placement="top", title="Pig in Cars") Pig in Cars
                                            a.author.d-block.fz-12.hover-primary.text-truncate(href="author.html") @glpys_creator

                                    .price-bid.d-flex.align-items-center
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.63 ETH
                                        a.btn.btn-minimal.btn-sm.hover-primary.d-flex.align-items-center(href="#")
                                            img.me-1(src="img/core-img/fire.png", alt="")
                                            | Place bid

                a.btn.btn-minimal.w-100.hover-primary(href="featured-items.html")
                    | View All Drops
                    i.ms-1.bi.bi-arrow-right

            // Top Seller 
            .col-12.col-sm-10.col-md-6.col-lg-5.col-xl-4
                .section-heading.text-center.mb-4
                    h4.mb-0 Top Seller

                // Single Card 
                .nft-card.card.seller-card.shadow-sm.mb-4
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/u1.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #1

                            .col-8
                                .name-author
                                    a.name.d-block.hover-primary.fw-bold.text-truncate(href="#") Designing World
                                        i.bi.bi-patch-check-fill.ms-2.text-success(data-bs-toggle="tooltip", data-bs-placement="top", title="Verified")
                                    a.author.d-block.fz-14.hover-primary.text-truncate(href="#") @designing_world
                                    .price-bid.d-flex.align-items-center.mt-3
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.71 ETH
                                        p.mb-0.lh-1.d-flex.align-items-center.fz-14
                                            i.me-1.bi.bi-gem
                                            | 3,057 Items

                // Single Card 
                .nft-card.card.seller-card.shadow-sm.mb-4                    
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/u2.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #2

                            .col-8
                                .name-author
                                    a.name.d-block.hover-primary.fw-bold.text-truncate(href="#") Art World
                                        i.bi.bi-patch-check-fill.ms-2.text-success(data-bs-toggle="tooltip", data-bs-placement="top", title="Verified")
                                    a.author.d-block.fz-14.hover-primary.text-truncate(href="#") @art_world
                                    .price-bid.d-flex.align-items-center.mt-3
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.8 ETH
                                        p.mb-0.lh-1.d-flex.align-items-center.fz-14
                                            i.me-1.bi.bi-gem
                                            | 671 Items

                // Single Card 
                .nft-card.card.seller-card.shadow-sm.mb-4                    
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/u3.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #3

                            .col-8
                                .name-author
                                    a.name.d-block.hover-primary.fw-bold.text-truncate(href="#") Style Wear
                                        i.bi.bi-patch-check-fill.ms-2.text-success(data-bs-toggle="tooltip", data-bs-placement="top", title="Verified")
                                    a.author.d-block.fz-14.hover-primary.text-truncate(href="#") @style_wear
                                    .price-bid.d-flex.align-items-center.mt-3
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.38 ETH
                                        p.mb-0.lh-1.d-flex.align-items-center.fz-14
                                            i.me-1.bi.bi-gem
                                            | 647 Items

                a.btn.btn-minimal.w-100.hover-primary(href="top-seller.html")
                    | View All Seller's
                    i.ms-1.bi.bi-arrow-right

            // Top Buyer 
            .col-12.col-sm-10.col-md-6.col-lg-5.col-xl-4
                .section-heading.text-center.mb-4
                    h4.mb-0 Top Buyer

                .nft-card.card.seller-card.shadow-sm.mb-4
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/u4.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #1

                            .col-8
                                .name-author
                                    a.name.d-block.hover-primary.fw-bold.text-truncate(href="#") Creative World
                                        i.bi.bi-patch-check-fill.ms-2.text-primary(data-bs-toggle="tooltip", data-bs-placement="top", title="Verified")
                                    a.author.d-block.fz-14.hover-primary.text-truncate(href="#") @creative_world
                                    .price-bid.d-flex.align-items-center.mt-3
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.81 ETH
                                        p.mb-0.lh-1.d-flex.align-items-center.fz-14
                                            i.me-1.bi.bi-lightning
                                            | 197 Items

                .nft-card.card.seller-card.shadow-sm.mb-4                    
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/u3.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #2

                            .col-8
                                .name-author
                                    a.name.d-block.hover-primary.fw-bold.text-truncate(href="#") Nft Fun
                                        i.bi.bi-patch-check-fill.ms-2.text-primary(data-bs-toggle="tooltip", data-bs-placement="top", title="Verified")
                                    a.author.d-block.fz-14.hover-primary.text-truncate(href="#") @nft_fun
                                    .price-bid.d-flex.align-items-center.mt-3
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.97 ETH
                                        p.mb-0.lh-1.d-flex.align-items-center.fz-14
                                            i.me-1.bi.bi-lightning
                                            | 164 Items

                .nft-card.card.seller-card.shadow-sm.mb-4                    
                    .card-body
                        .row.align-items-center.g-3
                            .col-4
                                .img-wrap
                                    img(src="img/bg-img/u2.jpg", alt="")
                                    .badge.bg-danger.position-absolute.px-2.py-1 #3

                            .col-8
                                .name-author
                                    a.name.d-block.hover-primary.fw-bold.text-truncate(href="#") Nft Crew
                                        i.bi.bi-patch-check-fill.ms-2.text-primary(data-bs-toggle="tooltip", data-bs-placement="top", title="Verified")
                                    a.author.d-block.fz-14.hover-primary.text-truncate(href="#") @nft_crew
                                    .price-bid.d-flex.align-items-center.mt-3
                                        .price.me-2.me-sm-3
                                            h6.mb-0.d-inline-block.fz-14.border.border-2.rounded.py-1.px-2 0.68 ETH
                                        p.mb-0.lh-1.d-flex.align-items-center.fz-14
                                            i.me-1.bi.bi-lightning
                                            | 86 Items

                a.btn.btn-minimal.w-100.hover-primary(href="top-buyer.html")
                    | View All Buyer's
                    i.ms-1.bi.bi-arrow-right