// Create New Button 
.create-new-button
    a.shadow-lg.btn.btn-warning(href="create-new.html", data-bs-toggle="tooltip", data-bs-placement="left", title="Create New NFT")
        i.fz-18.bi.bi-plus-lg

.admin-wrapper
    .container
        .row.justify-content-center
            .col-12.text-center
                h4.mb-3 Your current wallet

            .col-12.col-xl-7.col-xxl-6
                .card.wallet-card.shadow-sm
                    .card-body.px-4.text-center
                        .d-flex.align-items-center
                            .img-wrap
                                img(src="img/bg-img/metamask.png", alt="")
                            h4.mb-0.me-3 Metamask
                            a.btn.btn-sm.btn-danger.rounded-pill.ms-auto(href="#") Change
        
        .row.g-4.justify-content-center
            .col-12
                .text-center
                    h4.mb-4.mt-5 Connect with one of our other available wallet providers.

            .col-12.col-xl-6
                .card.wallet-card.shadow-sm
                    .card-body.px-4
                        .d-flex.align-items-center
                            .img-wrap
                                img(src="img/bg-img/metamask.png", alt="")
                            h4.mb-0.me-3 Metamask
                                span.badge.bg-danger.rounded-pill.align-top.fz-12.ms-1 Hot
                            a.btn.btn-sm.btn-warning.rounded-pill.ms-auto(href="#")
                                | Connect
                                i.ms-1.bi.bi-arrow-right

            .col-12.col-xl-6
                .card.wallet-card.shadow-sm
                    .card-body.px-4
                        .d-flex.align-items-center
                            .img-wrap
                                img(src="img/bg-img/coinbase.png", alt="")
                            h4.mb-0.me-3 Coinbase Wallet
                            a.btn.btn-sm.btn-warning.rounded-pill.ms-auto(href="#")
                                | Connect
                                i.ms-1.bi.bi-arrow-right

            .col-12.col-xl-6
                .card.wallet-card.shadow-sm
                    .card-body.px-4
                        .d-flex.align-items-center
                            .img-wrap
                                img(src="img/bg-img/kaikas.png", alt="")
                            h4.mb-0.me-3 Kaikas
                            a.btn.btn-sm.btn-warning.rounded-pill.ms-auto(href="#")
                                | Connect
                                i.ms-1.bi.bi-arrow-right

            .col-12.col-xl-6
                .card.wallet-card.shadow-sm
                    .card-body.px-4
                        .d-flex.align-items-center
                            .img-wrap
                                img(src="img/bg-img/venly.png", alt="")
                            h4.mb-0.me-3 Venly
                            a.btn.btn-sm.btn-warning.rounded-pill.ms-auto(href="#")
                                | Connect
                                i.ms-1.bi.bi-arrow-right