doctype html
html(lang="en", data-theme="dark")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        // Breadcrumb 
        .breadcrumb-wrapper
            .container
                .breadcrumb-content
                    h2.breadcrumb-title Blog
                    nav(aria-label="breadcrumb")
                        ol.breadcrumb.justify-content-center
                            li.breadcrumb-item
                                a(href="index.html") Home
                            li.breadcrumb-item.active(aria-current="page") Blog

        .divider

        // Blog 
        .blog-wrap
            .container
                .row.g-5
                    .col-12.col-sm-7.col-lg-8.col-xxl-9
                        .row.g-4
                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/40.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") The beginner’s guide to creating &amp; selling digital art NFTs.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/41.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") 12 reasons to sell your NFTs.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/42.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") 10 tips for avoiding scams and staying safe.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/43.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") The beginner’s guide to creating &amp; selling digital art NFTs.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/40.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") 12 reasons to sell your NFTs.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/41.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") 10 tips for avoiding scams and staying safe.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/42.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") The beginner’s guide to creating &amp; selling digital art NFTs.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/43.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") 12 reasons to sell your NFTs.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                            // Blog Card 
                            .col-12.col-lg-6.col-xxl-4
                                .card.blog-card.border-0.bg-transparent
                                    .img-wrap
                                        a(href="blog-details.html")
                                            img(src="img/bg-img/40.jpg" alt="")
                                    
                                    .card-body.p-3
                                        a.post-title.mb-2.hover-primary(href="blog-details.html") 10 tips for avoiding scams and staying safe.
                                        p.mb-4 It's crafted with the latest trend of design with all modern approaches.
                                        a.btn.btn-primary.btn-sm.rounded-pill(href="blog-details.html")
                                            | Read more
                                            i.ms-1.bi.bi-arrow-right

                        // Pagination 
                        .funto-pagination.mt-70
                            nav(aria-label="Page navigation example")
                                ul.pagination.justify-content-center.mb-0
                                    li.page-item.active
                                        a.page-link(href="#") 1
                                    li.page-item
                                        a.page-link(href="#") 2
                                    li.page-item
                                        a.page-link(href="#") 3
                                    li.page-item
                                        a.page-link(href="#") 4
                                    li.page-item
                                        a.page-link(href="#") ...
                                    li.page-item
                                        a.page-link(href="#") 9
                    
                    .col-12.col-sm-5.col-lg-4.col-xxl-3
                        h4.mb-2 Popular News
                        .border-top.mb-4

                        .popular-blog
                            a.post-title.mb-2(href="blog-details.html")
                                span 1
                                h5.hover-primary The beginner’s guide to creating &amp; selling digital art NFTs.
                            
                            p It's crafted with the latest trend of design with all modern approaches.
                            a.btn.btn-minimal.text-start.hover-primary(href="blog-details.html")
                                | Continue Reading 
                                i.ms-1.bi.bi-arrow-right

                        .popular-blog
                            a.post-title.mb-2(href="blog-details.html")
                                span 2
                                h5.hover-primary 12 reasons to sell your NFTs.

                            p It's crafted with the latest trend of design with all modern approaches.
                            a.btn.btn-minimal.text-start.hover-primary(href="blog-details.html")
                                | Continue Reading 
                                i.ms-1.bi.bi-arrow-right

                        .popular-blog
                            a.post-title.mb-2(href="blog-details.html")
                                span 3
                                h5.hover-primary 10 tips for avoiding scams and staying safe.
                            
                            p It's crafted with the latest trend of design with all modern approaches.
                            a.btn.btn-minimal.text-start.hover-primary(href="blog-details.html")
                                | Continue Reading 
                                i.ms-1.bi.bi-arrow-right

                        .popular-blog
                            a.post-title.mb-2(href="blog-details.html")
                                span 4
                                h5.hover-primary The beginner’s guide to creating &amp; selling digital art NFTs.
                                
                            p It's crafted with the latest trend of design with all modern approaches.
                            a.btn.btn-minimal.text-start.hover-primary(href="blog-details.html")
                                | Continue Reading 
                                i.ms-1.bi.bi-arrow-right

                        .popular-blog
                            a.post-title.mb-2(href="blog-details.html")
                                span 5
                                h5.hover-primary 12 reasons to sell your NFTs.
                            
                            p It's crafted with the latest trend of design with all modern approaches.
                            a.btn.btn-minimal.text-start.hover-primary(href="blog-details.html")
                                | Continue Reading 
                                i.ms-1.bi.bi-arrow-right

                        .popular-blog
                            a.post-title.mb-2(href="blog-details.html")
                                span 6
                                h5.hover-primary 10 tips for avoiding scams and staying safe.
                            
                            p It's crafted with the latest trend of design with all modern approaches.
                            a.btn.btn-minimal.text-start.hover-primary(href="blog-details.html")
                                | Continue Reading 
                                i.ms-1.bi.bi-arrow-right

        .divider

        include inc/dark-light-mode.pug

        include inc/footer.pug

        include inc/js-plugins.pug