doctype html
html(lang="en", data-theme="dark")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        // Breadcrumb 
        .breadcrumb-wrapper
            .container
                .breadcrumb-content
                    h2.breadcrumb-title Collection
                    nav(aria-label="breadcrumb")
                        ol.breadcrumb.justify-content-center
                            li.breadcrumb-item
                                a(href="index.html") Home
                            li.breadcrumb-item.active(aria-current="page") Collection

        .divider

        .collection-wrapper
            .container
                .row.g-4
                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/39.jpg", alt="")
                                        img.rounded(src="img/bg-img/38.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/6.jpg", alt="")
                                        img.rounded(src="img/bg-img/10.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Arts
                                            span.badge.bg-primary.ms-2 206
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/35.jpg", alt="")
                                        img.rounded(src="img/bg-img/34.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/25.jpg", alt="")
                                        img.rounded(src="img/bg-img/27.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Photos
                                            span.badge.bg-primary.ms-2 973
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/18.jpg", alt="")
                                        img.rounded(src="img/bg-img/20.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/37.jpg", alt="")
                                        img.rounded(src="img/bg-img/36.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Collectibles
                                            span.badge.bg-primary.ms-2 1098
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/39.jpg", alt="")
                                        img.rounded(src="img/bg-img/38.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/6.jpg", alt="")
                                        img.rounded(src="img/bg-img/10.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Arts
                                            span.badge.bg-primary.ms-2 206
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/35.jpg", alt="")
                                        img.rounded(src="img/bg-img/34.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/25.jpg", alt="")
                                        img.rounded(src="img/bg-img/27.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Photos
                                            span.badge.bg-primary.ms-2 973
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/18.jpg", alt="")
                                        img.rounded(src="img/bg-img/20.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/37.jpg", alt="")
                                        img.rounded(src="img/bg-img/36.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Collectibles
                                            span.badge.bg-primary.ms-2 1098
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/39.jpg", alt="")
                                        img.rounded(src="img/bg-img/38.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/6.jpg", alt="")
                                        img.rounded(src="img/bg-img/10.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Arts
                                            span.badge.bg-primary.ms-2 206
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/35.jpg", alt="")
                                        img.rounded(src="img/bg-img/34.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/25.jpg", alt="")
                                        img.rounded(src="img/bg-img/27.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Photos
                                            span.badge.bg-primary.ms-2 973
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

                    .col-12.col-md-6.col-xl-4
                        .catagory-card.card.shadow-sm
                            .card-body
                                .row.g-1
                                    .col-6
                                        img.rounded(src="img/bg-img/18.jpg", alt="")
                                        img.rounded(src="img/bg-img/20.jpg", alt="")
                                    .col-6
                                        img.rounded(src="img/bg-img/37.jpg", alt="")
                                        img.rounded(src="img/bg-img/36.jpg", alt="")

                                .row.mt-3
                                    .col-8
                                        h5.mb-0 Collectibles
                                            span.badge.bg-primary.ms-2 1098
                                    .col-4.text-end
                                        a.btn.btn-minimal.hover-primary(href="#")
                                            | View all
                                            i.ms-1.fz-14.bi.bi-arrow-right

            .container
                .text-center.mt-70
                    a.btn.btn-primary.btn-sm.rounded-pill(href="#")
                        | Load more
                        i.ms-1.bi.bi-arrow-repeat

        .divider

        include inc/dark-light-mode.pug

        include inc/footer.pug

        include inc/js-plugins.pug