doctype html
html(lang="en", data-theme="dark")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        // Breadcrumb 
        .breadcrumb-wrapper
            .container
                .breadcrumb-content
                    h2.breadcrumb-title Forget Password
                    nav(aria-label="breadcrumb")
                        ol.breadcrumb.justify-content-center
                            li.breadcrumb-item
                                a(href="index.html") Home
                            li.breadcrumb-item.active(aria-current="page") Forget Password

        .divider

        // Register 
        .register-area
            .container
                .row.g-4.g-lg-5.align-items-center.justify-content-between
                    .col-12.col-md-6.col-xl-5
                        .register-card
                            h2 Reset Password
                            p Already have an account?
                                a.ms-1(href="login.html") Log In

                            .register-form.mt-5
                                form(action="#" method="post")
                                    .form-group.mb-4
                                        input.form-control(type="email" placeholder="Email or Username" required)

                                    button.btn.btn-warning.w-100(type="submit") Reset Password

                    .col-12.col-md-6
                        .register-thumbnail.mt-5.mt-md-0
                            img(src="img/illustrator/4.png" alt="")
        
        .divider

        include inc/dark-light-mode.pug

        include inc/footer.pug

        include inc/js-plugins.pug