doctype html
html(lang="en", data-theme="dark")
  head
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header.pug

    include inc/hero-2.pug

    .divider

    include inc/live-bidding-2.pug

    .divider

    include inc/process.pug

    .divider

    include inc/popular.pug

    .divider

    include inc/discover-2.pug

    .divider

    include inc/top-seller.pug

    .divider

    include inc/cta.pug

    .divider

    include inc/app-download.pug

    .divider

    include inc/dark-light-mode.pug

    include inc/footer.pug

    include inc/js-plugins.pug