doctype html
html(lang="en", data-theme="dark")
  head
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header.pug

    include inc/hero-1.pug

    .divider

    include inc/featured-nfts.pug

    .divider

    include inc/top-seller.pug

    .divider

    include inc/live-bidding.pug

    .divider

    include inc/discover.pug

    .divider

    include inc/popular.pug

    .divider

    include inc/process.pug

    .divider

    include inc/collection.pug

    .divider

    include inc/dark-light-mode.pug

    include inc/footer.pug

    include inc/js-plugins.pug